<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>106245273799-eldjupp1en2h0nr0drvjcmma7tcaeeu7.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.106245273799-eldjupp1en2h0nr0drvjcmma7tcaeeu7</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>106245273799-0hrb409902lsuetg2sp5h0v65fu0jcqn.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyCBdLtEN_wXn8k7v23jalbSYgK9UNi7I1E</string>
	<key>GCM_SENDER_ID</key>
	<string>106245273799</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>vn.beehome.beeid</string>
	<key>PROJECT_ID</key>
	<string>myhome-49a30</string>
	<key>STORAGE_BUCKET</key>
	<string>myhome-49a30.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:106245273799:ios:428942767f76c791e926e2</string>
</dict>
</plist>